@import "fontAwesome.scss";
@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "bootswatch.scss";

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

p{
    text-align: justify;
    text-indent: 3rem;
}