<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigilantes</title>
    <link rel="stylesheet" type="text/css" href="css/about.css">
</head>

<body>
    <div style="height: 20px;">
    </div>

        <h1>Vigilante da Floresta</h1>
        <img src="img/Queimadas-na-Amazonia.png">
        <br>
        <p>As queimadas na Amazônia, o maior bioma brasileiro, acontecem há muito tempo, sendo de origem             natural, indígena ou ocasionadas para abertura de grandes áreas para pastagens, lavouras e/ou garimpos no meio da selva. Principalmente nos últimos anos, essas queimadas são motivos de preocupação entre ambientalistas e opinião pública devido à grande importância desse bioma.</p>

        <p> O jogo <strong>vigilantes da floresta</strong> foi inspirado nesse cenário. Novos focos surgem ao decorrer do tempo. O seu objetivo é apagar o máximo de focos de incêndio que conseguir e prevenir a devastação da floresta.</p>
        


</body>

</html>