*{
    margin: 0;
    padding: 0;
}

#titulo{
    padding-bottom: 1em;
}
#texto{
    background-color:rgb(255, 255, 255,0.4);
    box-shadow: 4px 4px 10px 2px darkgray inset, 4px 8px 10px 2px lightgray ;
    padding: 20px;
    border: 3px solid black;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 5%;
    right: 10%;
    border-radius: 1em;
    text-indent: 2em;
    text-align: justify;
    font-weight: lighter;
    text-decoration-color: black;

}

body{

    background-color: black;
    background-image: url(imagem.png);
    background-size: 80% auto;
    background-position-x: center;
    background-repeat: no-repeat;
}